*{
text-align:center;
margin:0px;
}
.li{
background:	 linear-gradient(#003d79,#009393);
transition:1s;

}
.li:hover{
background:	 linear-gradient(#921aff,#2828ff);
 transition:1s;

}
.lo{
display:inline-block;
color:white;
padding:20px;
 transition:0.5s;
 margin:0px;

}

.ld{
background:#272727;
padding:40px;}

.lo:hover{color:#02c874;
background:white;}
.lo:active{color:#00e3e3;}

